.bh-variable {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: var(--c-sf1);
  box-shadow: 3px 3px var(--c-input);
  color: var(--c-text1);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;

  .middle {
    flex: 1 1 auto;
  }

  .right {
    display: flex;
    align-self: flex-start;
    margin-top: 4px;
    align-items: center;
    gap: 12px;
    img {
      height: 20px;
    }
    img:hover {
      filter: brightness(125%);
    }
    a.default:hover .bh-tooltip {
      visibility: visible;
      margin-top: 6px;
    }
  }

  .title {
    font-family: os-medium;
    font-size: 18px;
  }

  .description {
    margin-top: 6px;
    font-family: barlow-regular;
    color: var(--c-text0);
    white-space: pre;
  }

  .content {
    border-top: 1px solid var(--c-sf1);
    margin-top: 8px;
    padding-top: 8px;
  }

}