[theme="dark"] {
  --c-sf0: #242933;
  --c-sf0odd: #292f3a;
  --c-sf1: #2e3440;
  --c-sf2: #3b4252;
  --c-sfb0: #d8dee9;
  --c-sfb1: #e5e9f0;

  --c-text0: #949cbb;
  --c-text1: #d3d8df;
  --c-text2: #d8dee9;
  --c-text3: white;

  --c-input: #1c2129;

  --c-btn: #8fbcbb;
  --c-btn-hov: #9ccecd;
  --c-btn-text: #242933;

  --c-text-green: #a3be8c;
  --c-text-red: #bf616a;
  --c-text-purple: #b48ead;
  --c-text-yellow: #ebcb8b;
  --c-text-blue: #8b8deb;
}

[theme="light"] {
  --c-sf0: #d8dee9;
  --c-sf1: #e5e9f0;
  --c-sf2: #eceff4;

  --c-text0: #4c566a;
  --c-text1: #3b4252;
  --c-text2: #2e3440;

  --c-input: #c9ced8;
}